# ==========================================
# Configuración del Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# ==========================================
# Editores y Entornos de Desarrollo
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# Logs y Temporales
# ==========================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Dependencias (Por si a futuro usas Node.js)
# ==========================================
node_modules/